<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>{{ metadata.title }}</title>

    <link rel="author" href="humans.txt" />

    <meta name="description" content="{{ intro if intro else metadata.description }}" />
    <meta itemprop="description" content="{{ intro if intro else metadata.description }}">

    <meta property="og:title" content="{{ metadata.title }}{% if title %} - {{ title }}{% endif %}" />

    <meta name="format-detection" content="telephone=no">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:title" content="{{ metadata.title }}">
    <meta property="og:url" content="https://secondofmay.co.uk">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://secondofmay.co.uk">
    <meta name="twitter:title" content="{{ metadata.title }}">
    <meta name="twitter:description" content="{{ metadata.description }}">
    <meta property="og:description" content="{{ metadata.description }}">
    <meta name="twitter:image" content="https://secondofmay.co.uk/assets/img/opengraph.jpg">
    <meta property="og:image" content="https://secondofmay.co.uk/assets/img/opengraph.jpg">
    <meta property="og:image:alt" content="{{ metadata.description }}">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg" />
    <link rel="stylesheet" media="screen" type="text/css" href="/assets/css/main.min.css" />
  </head>

  <body class="no-js">

      <header>
        <h1><a href="/">{{ metadata.title }}</a></h1>
        <p>{{ metadata.description }}</p>
      </header>

      <main class="centralContainer">
        {{ layoutContent | safe }}
      </main>

      <footer>
        The footer

        All linked resources have been provided crowdsourced - we take to responsibility for external content
      </footer>
   
  </body>
</html>
