.searchField {
  @apply py-4 relative max-w-screen-md;

  &__input {
    @apply border-b font-heading text-lg text-grey-darker outline-none appearance-none w-full;

    &:focus,
    &:hover {
      @apply border-salmon;

      & + .searchField__icon {
        @apply text-salmon;
      }
    }
  }

  &__icon {
    @apply absolute top-0 right-0 text-black;
    height: 25px;
    margin: 15px 5px;
    width: 25px;
    transform: color 0.2s;
  }
}
