.siteHeader {
  @apply border-solid border-black border-b-2 flex justify-between;

  @screen sm {
    @apply p-2;
  }

  h1 {
    @apply uppercase font-heading text-base leading-none;
  }

  a {
    @apply block no-underline p-2;
    max-width: 110px;
  }

  &__navToggle {
    @apply appearance-none outline-none text-black;
    transition: color 0.2s;
    min-width: 50px;
    min-height: 50px;

    &:hover,
    &:focus {
      @apply outline-none text-salmon;
    }

    @screen sm {
      display: none;
    }

    span {
      @apply uppercase font-heading mr-2;
    }

    svg {
      @apply mr-2;
      width: 21px;
      height: 21px;
      float: right;
    }
  }
}

.no-js .siteHeader__navToggle {
  display: none;
}
