---
layout: base.njk
---
<section class="update">
  <header>
    <h1 itemprop="name">{{ title }}</h1>
    {% if date %}<date>{{ date | readableDate }}</date>{% endif %}
  </header>

  <main>
    {{ layoutContent | safe }}
  </main>

  <footer>
    <a href="/updates" class="btn">Back to all updates</a>
  </footer>
</section>

