---
layout: default
eleventyExcludeFromCollections: true
title: About
---

<section class="resourceContainer">
  <aside class="resourceContainer__sidebar">
    <nav class="sectionNav">
      <ul>
        <li>
          <a href="/" class="sectionNav__link">Return to resources</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="resourceContainer__mainList">
    <section class="resourceContainer__mainList__section">
      {% include '../more.md' %}
    </section>
  </main>
</section>
