---
layout: default
eleventyExcludeFromCollections: true
---

<p>
  {% set latestUpdate = collections.updates | last %}
  <a href="{{ latestUpdate.url }}">Latest news</a>
</p>

<ul>
{% for key, item in sheet %}
  <li><a href="{{ key | slug }}">{{ key }}</a></li>
{% endfor %}
</ul>
