---
layout: default
eleventyExcludeFromCollections: true
pagination:
  data: sheet
  size: 1
  alias: section
permalink: "{{ section | slug }}/"
---

<div x-data="listing()" x-init="init()">
  <h1>{{ section }}</h1>

  <input type="text" x-model="query" class="border" />

  {% for resource in sheet[section] %} {% include './_includes/partials/resource.njk' %} {% endfor %}
</div>
