---
layout: default
eleventyExcludeFromCollections: true
pagination:
  data: sheet
  size: 1
  alias: section
permalink: "{{ section | slug }}/"
---

<h1>{{ section }}</h1>

{% for resource in sheet[section] %}
  {% include './_includes/partials/resource.njk'  %}
{% endfor %}
