{# NOTE: This layout needs to keep in step with resource.njk #}
{% import "../macro/svg.njk" as svg %}
{% import "../macro/share.njk" as share %}

<div class="resource">
  <h2 x-text="item.title"></h2>

  <span x-show="item.date">Date: <span x-text="item.date"></span></span>

  <ul class="resource__meta">
    <li>Contributor: <span x-text="item.contributor"></span></li>
    <li>Type: <span x-text="item.type"></span></li>
    <li x-show="!!tags(item)">Tags: <span x-text="tags(item)"></span></li>
  </ul>

  <a :href="item.url" target="_blank" rel="noopener"  class="resource__link">
    Go to resource
  </a>

  <div class="resource__actions">
    <button class="resource__actions__btn" @click="shareResource($event)">
      {{ svg.sprite("share", "resource__icon resource__icon--share") }}
    </button>
  </div>

  {{ share.sheet(resource.url, resource.title) }}
</div>
