{# NOTE: This layout needs to keep in step with resource_dynamic.njk #}
{% import "../macro/svg.njk" as svg %}

<div class="resource">
  <h2>
    {{ resource.title | dewidow | safe }}
  </h2>

  {% if resource.date %} Date: {{ resource.date }} {% endif %}

  <ul class="resource__meta">
    <li>Contributor: {{ resource.contributor }}</li>
    <li>Type: {{ resource.type }}</li>
    {% if resource.tags != "" %}
    <li>
      Tags: {% for tag in resource.tags %}
      {{ tag }}{% if loop.last == false %}, {% endif %} {% endfor %}
    </li>
    {% endif %}
  </ul>

  <a href="{{ resource.url }}" target="_blank" rel="noopener" class="resource__link">
    Go to resource
  </a>

  <div class="resource__actions">
    <a href="#">
      {{ svg.sprite("share", "resource__icon") }}
    </a>
  </div>
</div>
